# Configuration file for gnokii smsd daemon

# Database type. Could be pq or mysql
DBTYPE=pq

DBNAME=sms
DBUSER=zork
DBPASS=
DBHOST=localhost

# Available phones from gnokirc. If empty then smsd is started for phone
# listed in [global] section in /etc/gnokiirc
# For each phone index listed here one smsd instance is spawned
# Put indexes of phone entries in gnokiirc file. 0 is [global] section
# 1 is next section etc...
PHONES="0"

# pooling interval for incoming sms's in seconds. Default is 1 sec.
INTERVAL=1

# max number of sms messages for dumb mode. Leave empty for defaults
MAXSMS_IN_DUMB_MODE=

