[Desktop Entry]
Name=gnokii
Comment=Linux/Unix tool suite for mobile phones
Comment[pl]=Linuksowy/Uniksowy zestaw narzędzi dla telefonów komórkowych
Icon=gnokii
Exec=xgnokii
Terminal=false
Type=Application
Categories=GTK;Office;PDA;
# vi: encoding=utf-8
